<%- include('partials/header.ejs') %>

<h1>
    <%= category.name %>
</h1>

<ul>
    <% projects.forEach(project => { %>
        <li>
            <a href="/project/<%= project.project_id %>">
                <%= project.title %>
            </a>
        </li>
    <% }) %>
</ul>

<%- include('partials/footer.ejs') %>