<%- include('partials/header.ejs') %>

    <h1>
        <%= category.name %>
    </h1>

    <h2>Projects in this category:</h2>

    <ul>
        <% projects.forEach(project=> { %>
            <li>
                <a href="/project/<%= project.project_id %>">
                    <%= project.title %>
                </a>
            </li>
            <% }) %>
    </ul>

    <%- include('partials/footer.ejs') %>